{%extends 'base.html'%}
{%block body_block%}
<header class="bg-dark bg-opacity-75 py-5">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%for m in messages%}
            <!-- space is necessery -->
            {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <!-- bootsrap widget is alert dissmiss -->
            <!-- also add js bundle -->
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{m}}!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endif%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{m}}!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endif%}
            {%endfor%}
        </div>
        <div class="col-4"></div>
    </div>
    {%for post in posts%}
    <div class="container px-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{post.title}}</h1>
                    <p class="lead fw-normal text-white-50 mb-1"><em>Created date - {{post.created_date}}</em></p>


                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">

                        <a class="btn btn-outline-light btn-lg px-4" href="{%url 'postdel' post.id%}">Delete</a>
                    </div>
                    

                    <div class="accordion accordion-flush mt-2" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Comments
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body bg-dark bg-opacity-75">
                                    {%for comment in post.post_comments%}
                                    <div class="mt-2 text-center text-white me-5">
                                        <div class="text-center">{{comment}}</div><em class="mb-3"> by {{comment.user}} </em><hr>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-5">
                {%if post.image%}
                    <img class="img-fluid rounded-3 my-4" 
                    src="{{post.image.url}}" alt="...">
                {%else%}
                <img class="img-fluid rounded-3 my-4"
                    src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                {%endif%}

            </div>
        </div>
    </div>


    {%endfor%}



</header>
{%endblock%}

